castWS/XSD/motDePassePerdu_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.castorama.com/motDePassePerdu" xmlns:mdpp="http://ws.castorama.com/motDePassePerdu" attributeFormDefault="unqualified" elementFormDefault="unqualified">

	<xsd:element name="motDePassePerduResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="code" type="xsd:string"/>
				<xsd:element name="description" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
